<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume DB is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://127.0.0.1:3306/db
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password">
      Aa123456!
   </property>
   <property name="connection.autocommit">
     true
   </property>
   <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
       <!-- Drop and re-create the database schema on startup -->
         <property name="hbm2ddl.auto">create</property> 


   <!-- Mapping files -->
        <mapping resource="db/All.hbm.xml" />
        <mapping resource="db/Mazes.hbm.xml" />
        <mapping resource="db/Solutions.hbm.xml" />
        <mapping resource="db/Positions.hbm.xml" />

</session-factory>
</hibernate-configuration>